VITE_SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6bmVrZGx3aGNybm93Z2NjdGd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3MTA0NDMsImV4cCI6MjA2MjI4NjQ0M30.wJ_Jf3U38ACqYUMzyu1Iwjuk3031UoO_Pbk6dOKj3RI'
VITE_SUPABASE_URL = 'https://aznekdlwhcrnowgcctgw.supabase.co'